.light-theme {
  --background: white;
  --text-color: black;
}

.dark-theme {
  --background: black;
  --text-color: white;
}

body {
  background-color: var(--background);
  color: var(--text-color);
}
